body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-image: url(https://kartinki.pics/uploads/posts/2021-07/1625532731_20-kartinkin-com-p-fon-dlya-menyu-shashlik-krasivie-foni-25.jpg);
  
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(43, 43, 43);
}
.product_img{
  width: 300px;
  height: 300px;
}
.map{
  margin-right: 50px;
}
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; !!!Вертикальний скролер через це */
}

/* .slider_wrap {
  width: 97vw;
} */

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;

}

main {
  margin: 1rem;
  min-height: calc(100vh - 140px);
}

h2 {
  margin-top: 0;
  color: rgb(255, 0, 0);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.map-h1{
  color: #f9f9f9;
}
.slider-div{
  height: 200px;
}
.map-div{
  display: flex;
  justify-content: space-around;
  flex-direction:row;
  align-items: center;

  height: 500px;
}
.product {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  width: calc(25% - 1rem);

}

.product img {
  max-width: 100%;
}

.product h3 {
  margin: 0;
  margin-top: 1rem;
}

.product p {
  margin: 0;
  margin-top: 0.5rem;
}
.logo{
  height: 75px;
  width: 75px;
}
.product button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;


}

/* !!! main без p0 та m0 робить відступи по боках які показують сховані стрілки */
main {
  padding: 0px;
  margin: 0px;

  /* !!!"відховую" стрілки вручну */
  padding-left: 50px;
  padding-right: 50px;
  /* !!!"відховую" стрілки вручну */
}